body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  width: 360px;
  height: 640px;
  background: #1e1e1e;
  position: relative;
  overflow: hidden;
}

#player {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 120px;
  left: 148px;
  background-repeat: no-repeat;
}

/* IDLE */
.idle {
  background-image: url("assets/knight_idle.png");
  animation: idleAnim 0.8s steps(4) infinite;
}

@keyframes idleAnim {
  from { background-position: 0px; }
  to   { background-position: -256px; }
}

/* ATTACK */
.attack {
  background-image: url("assets/knight_attack.png");
  animation: attackAnim 0.5s steps(4) forwards;
}

@keyframes attackAnim {
  from { background-position: 0px; }
  to   { background-position: -256px; }
}